<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout>
                <Pattern>%d{ISO8601} %-5level %c %m %ex%n</Pattern>
            </PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="STDOUT" level="DEBUG"/>
		</Root>
	</Loggers>
</Configuration>